<template name="documentsIndex">
  <div class="row">
    <div class="col-md-12">
      <h1>Documents</h1>
      <a class="btn btn-primary" href="{{pathFor 'documentNew'}}" role="button">New document</a>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Updated</th>
            <th>Created</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each documents}}
          <tr>
            <td><a href="{{pathFor 'documentShow'}}">{{title}}</a></td>
            <td>{{content}}</td>
            <td>{{showTimeAgo updatedAt}}</td>
            <td>{{showPrettyTimestamp createdAt}}</td>
            <td>
              <a class="btn btn-xs btn-default" href="{{pathFor 'documentEdit'}}" role="button">Edit</a>
              <a class="btn btn-xs btn-danger delete-document" href="#" role="button">Delete</a>
              </td>
          </tr>
          {{else}}
          No documents
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>
