<template name="documentsIndex">
  <div class="row">
    <div class="col-md-12">
      <h1>Documents Index</h1>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
          {{#each documents}}
          <tr>
            <td>{{_id}}</td>
            <td>{{title}}</td>
          </tr>
          {{else}}
          No documents
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>