<template name="documentNew">

  <div class="document-new">
    <div class="card">
      <div class="card-body">
        <h2>Create document</h2>

        {{#autoForm schema=createDocumentSchema id="documentNewForm" type="method" meteormethod="documents.create" }}
          <fieldset>
            {{> afQuickField name='title'}} {{> afQuickField name='content' rows=6}}
          </fieldset>
          <button type="submit" class="btn btn-primary">Create</button>
          <a class="btn btn-link" role="button" href="{{pathFor 'documentsIndex'}}">Back</a>
        {{/autoForm}}
      </div>
    </div>
  </div>

</template>
