<template name="about">
  <div class="container">
    <h1>Meteor-skeleton</h1>
    <p>
      A boilerplate for Meteor - giving you a simple and more organized way to create projects.
    </p>
    <p>
      It comes with a complete collection sample including publications, subscriptions and CRUD functionality. Routes, views and some nice helpers are also included.
    </p>
    <div class="row">
      <div class="col-md-6">

        <h2>Dependencies</h2>
        <ul>
          <li>meteor-platform</li>
          <li>accounts-base</li>
          <li>alanning:roles</li>
          <li>iron:router</li>
          <li>aldeed:simple-schema</li>
          <li>aldeed:collection2</li>
          <li>aldeed:autoform</li>
          <li>momentjs:moment</li>
          <li>twbs:bootstrap</li>
        </ul>

        <h2>Usage</h2>
        <ol>
          <li>Clone it: <code>git clone https://github.com/kjetilhau/meteor-skeleton.git</code></li>
          <li><code>cd meteor-skeleton</code></li>
          <li>Remove the .git folder</li>
          <li><code>git init</code></li>
          <li><code>meteor</code></li>
        </ol>

        <h2>Other great boilerplates</h2>
        <a href="https://github.com/matteodem/meteor-boilerplate">meteor-boilerplate</a> by matteodem<br>
        <a href="https://github.com/SachaG/Void">Void</a> by Sacha Greif<br>
        <a href="https://github.com/BeDifferential/meteor-boilerplate">meteor-boilerplate</a> by Differential
      </div>
      <div class="col-md-6">
        <h2>Structure</h2>
        <div class="well well-sm">
          <ul>
            <li>client
              <ul>
                <li>config</li>
                <li>lib
                  <ul>
                    <li>helpers</li>
                  </ul>
                </li>
                <li>routes</li>
                <li>startup</li>
                <li>stylesheets
                  <ul>
                    <li>components</li>
                    <li>sites</li>
                  </ul>
                </li>
                <li>subscriptions</li>
                <li>views
                  <ul>
                    <li>documents</li>
                    <li>layouts</li>
                    <li>pages</li>
                    <li>shared</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>lib
              <ul>
                <li>collections</li>
                <li>helpers</li>
              </ul>
            </li>
            <li>public
              <ul>
                <li>img</li>
                <li>fonts</li>
              </ul>
            </li>
            <li>server
              <ul>
                <li>config</li>
                <li>fixtures</li>
                <li>lib</li>
                <li>publications</li>
                <li>startup</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
</template>
