<template name="about">
  <div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <h1>Meteor-skeleton</h1>
    <p>
      Opinionated skeleton for Meteor - giving you a more organized and structured way to create projects. <br>
      It contains a few helpers, routes and views. Oh, and a collection with pubs and subs.
    </p>

    <h2>Dependencies</h2>
    <ul>
      <li>iron-router</li>
      <li>roles</li>
      <li>simple-schema</li>
      <li>collection2</li>
      <li>autoform</li>
      <li>moment</li>
      <li class="text-muted">less-fontawesome</li>
      <li class="text-muted">less-bootstrap-3</li>
      <li class="text-muted">iron-router-progress</li>
    </ul>

    <h2>Usage</h2>
    <p></p>

    <h2>Structure</h2>
    <p></p>
  </div> <!-- /container -->
</template>
