<template name="frontpage">
  <div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1>Meteor-skeleton</h1>
      <p>Opinionated skeleton for Meteor - giving you a more organized and structured way to create projects.</p>
      <p>It comes with a complete collection sample including publications, subscriptions and CRUD functionality. Routes, views and some nice helpers are also included.</p>
      <p>
        <a class="btn btn-lg btn-primary" href="https://github.com/kjetilhau/meteor-skeleton" role="button">Check it out at Github</a>
      </p>
    </div>
  </div> <!-- /container -->
</template>
